@font-face {
  font-family: "allura";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #eeeeee;
  background-color: #21201e;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
  width: 100%;
  position: relative;
}
header nav {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul #logo {
  font-family: "allura", serif;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2rem;
}
header nav ul li {
  font-family: "roboto", sans-serif;
  font-size: 0.8rem;
}
header nav ul i {
  padding: 0 10px;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}
header .header-content h2 {
  font-size: 3rem;
  font-family: "allura", serif;
  color: #a67245;
  line-height: 10px;
}
header .header-content h1 {
  font-size: 4rem;
  letter-spacing: 3px;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  margin: 0px 0 0 0;
}
header .header-content img {
  margin: 20px auto 30px;
  height: 30px;
}
header .header-content p {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.store {
  display: grid;
  grid-template-columns: 50% 50%;
}
.store__left {
  background: #eeeeee;
}
.store__left__text {
  margin: 10px;
  padding: 20px;
  border: 1px dashed #a67245;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.store__left__text h2 {
  color: #a67245;
  font-family: allura, sans-serif;
  text-transform: capitalize;
}
.store__left__text h3 {
  font-family: "poppins", sans-serif;
  color: #21201e;
  text-transform: uppercase;
}
.store__left__text img {
  margin: 20px auto;
}
.store__left__text p {
  font-family: "roboto", sans-serif;
  color: #21201e;
  font-size: 0.8rem;
}
.store__left__text .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.store__left__text h4 {
  font-family: "poppins";
  color: #21201e;
}
.store__left__text h5 {
  font-family: "roboto", sans-serif;
  color: #bdb9b8;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.store__right {
  background: url(../img/store-01.jpg) center/cover;
}

.menu {
  width: 100%;
  height: 50vh;
}
.menu__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}
.menu__up h3 {
  color: #a67245;
  font-family: allura, sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
}
.menu__up img {
  height: 25px;
  width: 25px;
  margin: 30px 0;
}
.menu__up nav {
  width: 50%;
  margin: 0 auto 50px;
}
.menu__up nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "roboto", sans-serif;
  text-transform: capitalize;
}
.menu__up nav ul li {
  display: inline-block;
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
}
.menu__down {
  background: url(../img/bg-menu-01.jpg) center/cover;
  min-height: 600px;
  position: relative;
}
.menu__down__card {
  display: grid;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
  top: -50px;
  grid-template-columns: 50% 50%;
  text-align: left;
  background: #eeeeee;
  width: 70%;
  margin: 0 auto;
  border-top: 4px solid #a67245;
  color: #21201e;
}
.menu__down__card__line {
  padding: 20px;
}
.menu__down__card__line .plate {
  display: grid;
  grid-template-columns: 90% 10%;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed #a67245;
}
.menu__down__card__line .plate__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.menu__down__card__line .plate__description img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
.menu__down__card__line .plate__description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__down__card__line .plate__description__text h4 {
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-size: 0.9rem;
}
.menu__down__card__line .plate__description__text p {
  font-family: "roboto", sans-serif;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.menu__down__card__line .plate .price {
  font-family: "roboto", sans-serif;
  color: #a67245;
  text-align: right;
}/*# sourceMappingURL=index.css.map */