@font-face {
  font-family: "allura";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "roboto-light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #eeeeee;
  background-color: #21201e;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

header {
  height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  width: 100%;
  position: relative;
}
header nav {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul #logo {
  font-family: "allura", serif;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2rem;
}
header nav ul li {
  font-family: "roboto-light", sans-serif;
  font-size: 0.8rem;
}
header nav ul i {
  padding: 0 10px;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}
header .header-content h2 {
  font-size: 3rem;
  font-family: "allura", serif;
  color: #a67245;
  line-height: 10px;
}
header .header-content h1 {
  font-size: 4rem;
  letter-spacing: 3px;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  margin: 0px 0 0 0;
}
header .header-content img {
  margin: 20px auto 30px;
  height: 30px;
}
header .header-content p {
  font-family: "roboto-light", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.store {
  display: grid;
  grid-template-columns: 50% 50%;
}
.store__left {
  background: #eeeeee;
}
.store__left__text {
  margin: 10px;
  padding: 20px;
  border: 1px dashed #a67245;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.store__left__text h2 {
  color: #a67245;
  font-family: allura, sans-serif;
  text-transform: capitalize;
}
.store__left__text h3 {
  font-family: "poppins", sans-serif;
  color: #21201e;
  text-transform: uppercase;
}
.store__left__text img {
  margin: 20px auto;
}
.store__left__text p {
  font-family: "roboto-light", sans-serif;
  color: #21201e;
  font-size: 0.8rem;
}
.store__left__text .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.store__left__text h4 {
  font-family: "poppins";
  color: #21201e;
}
.store__left__text h5 {
  font-family: "roboto", sans-serif;
  color: #bdb9b8;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.store__right {
  background: url(/assets/img/store-01.jpg) center/cover;
}

.menu {
  width: 100%;
}
.menu__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}
.menu__up h3 {
  color: #a67245;
  font-family: allura, sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
}
.menu__up img {
  height: 25px;
  width: 25px;
  margin: 30px 0;
}
.menu__up nav {
  width: 50%;
  max-width: 1000px;
  margin: 0 auto 150px;
}
.menu__up nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "roboto", sans-serif;
  text-transform: capitalize;
}
.menu__up nav ul li {
  display: inline-block;
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
}
.menu__down {
  background: url(../img/bg-menu-01.jpg) center/cover;
}
.menu__down__card {
  display: grid;
  position: relative;
  top: -150px;
  grid-template-columns: 50% 50%;
  text-align: left;
  background: #eeeeee;
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  border-top: 4px solid #a67245;
  color: #21201e;
}
.menu__down__card__line {
  padding: 20px;
}
.menu__down__card__line .plate {
  display: grid;
  grid-template-columns: 90% 10%;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed #a67245;
}
.menu__down__card__line .plate__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.menu__down__card__line .plate__description img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
.menu__down__card__line .plate__description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__down__card__line .plate__description__text h4 {
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-size: 0.9rem;
}
.menu__down__card__line .plate__description__text p {
  font-family: "roboto-light", sans-serif;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.menu__down__card__line .plate .price {
  font-family: "roboto-light", sans-serif;
  color: #a67245;
  text-align: right;
}

.resa {
  background: #21201e;
  width: 100%;
  margin: 90px auto;
}
.resa h2 {
  color: #a67245;
  font-family: allura, sans-serif;
  text-transform: capitalize;
  margin-top: 20px;
}
.resa h3 {
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  line-height: 10px;
}
.resa h4 {
  color: #a67245;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  margin: 20px auto 5px;
}
.resa p {
  font-family: "roboto-light", sans-serif;
  font-size: 0.7rem;
}
.resa img {
  height: 30px;
  margin: 20px auto 10px;
}
.resa__content {
  display: grid;
  width: 80%;
  max-width: 1000px;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  background: black;
  text-align: center;
}
.resa__content__left {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #eeeeee;
  margin: 20px;
}
.resa__content__right {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resa__content__right h3 {
  color: black;
}
.resa__content__right .form {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 30px;
}
.resa__content__right .form input,
.resa__content__right .form select {
  display: block;
  width: 100%;
  min-height: 30px;
  padding: 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid #bdb9b8;
  font-family: arial;
  color: #bdb9b8;
  margin-top: 10px;
}
.resa__content__right .form #date,
.resa__content__right .form #people,
.resa__content__right .form #time {
  color: black;
  font-size: 0.8rem;
  font-family: "roboto-light", sans-serif;
}
.resa__content__right button {
  display: block;
  padding: 10px 20px;
  background-color: #21201e;
  color: #eeeeee;
  border: 0;
  margin: 30px auto;
  text-align: center;
  border-radius: 20px;
  font-family: "roboto-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.events h4 {
  font-family: "roboto-light";
  color: black;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 0.8rem;
  padding-left: 5px;
}
.events p {
  color: #bdb9b8;
  text-transform: capitalize;
  font-family: "roboto-light", sans-serif;
  font-size: 0.7rem;
  margin: 10px 0;
}
.events h5 {
  text-transform: uppercase;
  font-family: "roboto-light", sans-serif;
  font-size: 0.7rem;
  color: black;
}
.events i {
  font-size: 0.6rem;
  margin-right: 5px;
}
.events__header h2 {
  color: #a67245;
  font-family: allura, sans-serif;
  text-transform: capitalize;
  margin-top: 20px;
}
.events__header h3 {
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  line-height: 10px;
}
.events__header img {
  margin: 30px auto;
}
.events__content {
  width: 80%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 10px;
}
.events__content__left {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.card {
  display: grid;
  grid-template-columns: 30% 70%;
}
.card__left {
  background: url(../img/event-01.jpg) center/cover;
  min-width: 130px;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.card__left__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background: #21201e;
  color: #eeeeee;
  padding: 20px;
}
.card__right {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  padding: 20px;
}

.main-card {
  grid-area: two;
  background: url(../img/event-03.jpg) center/cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.main-card__content {
  background: white;
  width: 90%;
  height: 90%;
  padding: 0px;
  position: relative;
}
.main-card__content__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background: #21201e;
  color: #eeeeee;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-card__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  padding: 0 20px;
}
.main-card__content__text h5 {
  position: absolute;
  bottom: 20px;
}

.quote {
  margin-top: 100px;
  background: url(/assets/img/gmap.jpg);
  position: relative;
  margin-top: 250px;
}
.quote__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
  position: relative;
  padding: 0 40px 40px;
  top: -140px;
  font-family: "roboto-light", sans-serif;
}
.quote__content img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -35px;
}
.quote__content p {
  color: black;
  margin: 50px auto 30px;
  line-height: 25px;
}
.quote__content p span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 900;
}
.quote__content h3 {
  color: black;
  line-height: 25px;
}
.quote__content h4 {
  font-size: 1rem;
  color: #a67245;
}

.footer {
  width: 100%;
  background: url(/assets/img/bg-footer.jpg) center/cover;
}
.footer__content {
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer__content__left {
  padding: 50px;
  margin-left: 30%;
  width: 70%;
}
.footer__content__left h2 {
  color: #a67245;
  font-family: allura, sans-serif;
  text-transform: capitalize;
  font-size: 3rem;
}
.footer__content__left p {
  color: rgba(255, 255, 255, 0.542);
  font-family: "roboto-light", sans-serif;
  line-height: 35px;
}
.footer__content__right {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__content__right h3 {
  font-family: "roboto-light", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.footer__content__right .footer-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__content__right .footer-newsletter input {
  display: block;
  width: 50%;
  color: rgba(255, 255, 255, 0.542);
  font-family: "roboto-light", sans-serif;
  line-height: 25px;
  border: 1px solid #2e2722;
  background: none;
  padding: 5px 10px;
}
.footer__content__right .footer-social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}
.footer__content__right .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__content__right .footer-social ul li a {
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.542);
}/*# sourceMappingURL=index.css.map */