.events {
  @include center;
  text-align: center;
  h4 {
    font-family: "roboto-light";
    color: black;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 0.8rem;
    padding-left: 5px;
  }
  p {
    color: $lightgray;
    text-transform: capitalize;
    font-family: $font2;
    font-size: 0.7rem;
    margin: 10px 0;
  }
  h5 {
    text-transform: uppercase;
    font-family: $font2;
    font-size: 0.7rem;
    color: black;
  }
  i {
    font-size: 0.6rem;
    margin-right: 5px;
  }
  &__header {
    h2 {
      @include goldTitle;
      margin-top: 20px;
    }
    h3 {
      font-family: $font3;
      text-transform: uppercase;
      line-height: 10px;
    }
    img {
      margin: 30px auto;
    }
  }
  &__content {
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;

    &__left {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
    }
  }
}

.card {
  display: grid;
  grid-template-columns: 30% 70%;

  &__left {
    background: url(../img/event-01.jpg) center/cover;
    min-width: 130px;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__day {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      background: $bg-color;
      color: $white1;
      padding: 20px;
    }
  }
  &__right {
    background-color: white;
    @include center;
    align-items: start;
    text-align: left;
    padding: 20px;
  }
}

.main-card {
  grid-area: two;
  background: url(../img/event-03.jpg) center/cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__content {
    background: white;
    width: 90%;
    height: 90%;
    padding: 0px;
    position: relative;

    &__day {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      background: $bg-color;
      color: $white1;
      padding: 20px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__text {
      @include center;
      margin-top: 90px;
      padding: 0 20px;
      h5 {
        position: absolute;
        bottom: 20px;
      }
    }
  }
}
