.store {
  display: grid;
  grid-template-columns: 50% 50%;
  background: $white;
  &__left {
    margin: 10px;
    padding: 20px;
    border: 1px dashed $color1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      @include goldTitle;
    }
    h3 {
      font-family: $font3;
      color: $black;
      text-transform: uppercase;
    }
    img {
      margin: 20px auto;
    }
    img:nth-of-type(2) {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    p {
      color: $black;
      font-size: 0.8rem;
    }
    h4 {
      font-family: $font3;
      color: $black;
      font-weight: 100;
    }
    h5 {
      font-family: $font2;
      color: $lightgray;
      text-transform: uppercase;
      font-size: 0.7rem;
    }
  }
  &__right {
    background: url(../img/store-01.jpg) center/cover;
  }
}
@media screen and (max-width: 768px) {
  .store {
    display: flex;
    flex-direction: column;
  }
}
