.store {
  display: grid;
  grid-template-columns: 50% 50%;
  &__left {
    background: $white1;
    &__text {
      margin: 10px;
      padding: 20px;
      border: 1px dashed $gold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h2 {
        @include goldTitle;
      }
      h3 {
        font-family: $font3;
        color: $bg-color;
        text-transform: uppercase;
      }
      img {
        margin: 20px auto;
      }
      p {
        font-family: $font2;
        color: $bg-color;
        font-size: 0.8rem;
      }
      .avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      h4 {
        font-family: "poppins";
        color: $bg-color;
      }
      h5 {
        font-family: "roboto", sans-serif;
        color: $lightgray;
        text-transform: uppercase;
        font-size: 0.6rem;
      }
    }
  }
}
.store__right {
  background: url(/assets/img/store-01.jpg) center/cover;
}

@media screen and (max-width: 768px) {
  .store {
    display: flex;
    flex-direction: column;
  }
}
